<%= form_for(@attendance_value) do |f| %>
  <% if @attendance_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance_value.errors.count, "error") %> prohibited this attendance_value from being saved:</h2>

      <ul>
      <% @attendance_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :attendance_sheet, @attendance_sheet do |a_form| %>
      <%= a_form.label :date %>
      <%= a_form.date_select :date, :start_year => Time.now.year, :end_year => 1991 %>
    <% end %>
  </div>
  <div class="field">
    <%= f.fields_for :client, @client do |c_form| %>
      Client:<%= c_form.select :id, Client.all.collect {|c| [ c.name, c.id ]}, { :include_blank => true } %>
    <% end %>
  </div>
  <div class="field">
    Status:<%= f.select "status", ["Present", "Tardy", "Unexcused Absence", "Excused Absence", "School Closed", "Suspended"], { :include_blank => true }  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
