<h1>Listing attendance_values</h1>

<table>
  <tr>
    <th>Attendance Sheet</th>
    <th>Client</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendance_values.each do |attendance_value| %>
  <tr>
    <td><%= attendance_value.sheet.date %></td>
    <td><%= attendance_value.client.name %></td>
    <td><%= attendance_value.status %></td>
    <td><%= link_to 'Show', attendance_value %></td>
    <td><%= link_to 'Edit', edit_attendance_value_path(attendance_value) %></td>
    <td><%= link_to 'Destroy', attendance_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance value', new_attendance_value_path %> |
<%= link_to 'Back', '/' %>
