<p id="notice"><%= notice %></p>

<p>
  <b>Attendance sheet:</b>
  <%= @attendance_value.attendance_sheet.date %>
</p>

<p>
  <b>Client:</b>
  <%= @attendance_value.client.name %>
</p>

<p>
  <b>Status:</b>
  <%= @attendance_value.status %>
</p>


<%= link_to 'Edit', edit_attendance_value_path(@attendance_value) %> |
<%= link_to 'Back', attendance_values_path %>
