<h2 class="ui-widget-header" style="padding:10px;">Listing Attendance Assignments</h2>

<table class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Attendance Sheet</th>
    <th>Client</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.date %></td>
    <td><%= assignment.client.name %></td>
    <td><%= assignment.status %></td>
    <td><%= link_to 'Show', assignment %> |
      <%= link_to 'Edit', edit_assignment_path(assignment) %> |
      <%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance Assignment', new_assignment_path %> |
<%= link_to 'Back', '/' %>
