<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @attendance_sheet.date %>
  <% @attendance_sheet.clients.each do |c| %>
    <p>Name: <%= c.name %>, <%= c.attendance_values.collect { |v| if v.attendance_sheet_id == @attendance_sheet.id then v.status end }  %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_attendance_sheet_path(@attendance_sheet) %> |
<%= link_to 'Back', attendance_sheets_path %>
