<h1>Editing Attendance Sheet</h1>

<%= form_for :assignments, :url => "/sheets/#{params[:id]}" do |f| %>
  <div class="field">
    Date: <%= date_select :assignment, "date", :start_year => Time.now.year, :end_year => 1991 %>
  </div>
  <% @assignments.each do |assignment| %>
    <%= f.fields_for :assignment, assignment do |aform| %>
      <% if assignment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this attendance assignment from being saved:</h2>

          <ul>
          <% assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= aform.object.client.name %>
        <%= aform.hidden_field :client_id, :id => "assignments_#{assignment.id}_assignment_client_id", :name => "assignments[#{assignment.id}][assignment][client_id]" %>
        <%= aform.select "status", ["Present", "Tardy", "Unexcused Absence", "Excused Absence", "School Closed", "Suspended"], { :include_blank => true }, { :id => "assignments_#{assignment.id}_assignment_status", :name => "assignments[#{assignment.id}][assignment][status]" } %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', sheets_path %>
