<h2 class="ui-widget-header" style="padding:10px;">Listing Attendance Sheets</h2>
<table class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Date</th>
    <th>Action</th>
  </tr>
  <% @assignments.each do |a| %>
    <tr>
      <td><%= a.date %></td>
      <td><%= link_to 'Show', sheet_path(a.date) %> |
          <%= link_to 'Edit', edit_sheet_path(a.date) %> |
          <%= link_to 'Destroy', sheet_path(a.date), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', root_path %>