<h1>New Attendance Sheet</h1>

<%= form_for :assignments, :url => "/sheets" do |f| %>
  <div class="field">
    <h2 class="large">Date: <%= date_select :assignment, "date", :start_year => Time.now.year, :end_year => 1991 %></h2>
  </div>
  <% i = 0 %>
  <% @assignments.each do |assignment| %>
    <%= f.fields_for :assignment, assignment do |aform| %>
      <% if assignment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this attendance assignment from being saved:</h2>

          <ul>
          <% assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= aform.hidden_field :client_id, :id => "assignments_#{i}_assignment_client_id", :name => "assignments[#{i}][assignment][client_id]" %>

      <div class="field">
        <span style="float:left;width:100px;margin-top:6px;"><%= aform.object.client.name %></span>
        <span><%= aform.select "status", ["Present", "Tardy", "Unexcused Absence", "Excused Absence", "School Closed", "Suspended"], { :include_blank => true }, { :id => "assignments_#{i}_assignment_status", :name => "assignments[#{i}][assignment][status]" } %></span>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %> | <%= link_to 'Back', '/' %>
  </div>
<% end %>
