<h2 class="ui-widget-header" style="padding:10px;">New Attendance Sheet</h2>
<div class="ui-widget ui-widget-content">
<%= form_for :assignments, :url => "/sheets" do |f| %>
  <div class="field">
    <div class="large">Date: <%= date_select :assignment, "date", :start_year => Time.now.year, :end_year => 1991 %></div>
  </div>
  <% i = 0 %>
  <% @assignments.each do |assignment| %>
    <%= f.fields_for :assignment, assignment do |aform| %>
      <% if assignment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this attendance assignment from being saved:</h2>

          <ul>
          <% assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= aform.hidden_field :client_id, :id => "assignments_#{i}_assignment_client_id", :name => "assignments[#{i}][assignment][client_id]" %>

      <div class="field">
        <span style="width:150px;float:left;margin-top:6px;"><%= aform.object.client.name %></span>
        <span class="status_buttonset">
          <% ["Present", "Tardy", "Unexcused Absence", "Excused Absence", "School Closed", "Suspended"].each do |s| %>
            <%= aform.label s, { :for => "assignments_#{i}_assignment_status_#{s.sub(' ', '_')}" } %>
            <%= aform.radio_button "status", s, { :id => "assignments_#{i}_assignment_status_#{s.sub(' ','_')}", :name => "assignments[#{i}][assignment][status]" } %>
          <% end %>
        </span>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %> | <%= link_to 'Back', '/' %>
  </div>
<% end %>
</div>