<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td><b>Name:</b></td>
    <td><%= @client.name %></td>
  </tr>
  <tr>
    <td><b>Previous School:</b></td>
    <td><%= @client.school.name unless @client.school == nil %></td>
  </tr>
  <tr>
    <td><b>Admission Date:</b></td>
    <td><%= @client.admission_date %></td>
  </tr>
  <tr>
    <td><b>IEP Date:</b></td>
    <td><%= @client.iep_date %></td>
  </tr>
  <tr>
    <td><b>Discharge Date:</b></td>
    <td><%= @client.discharge_date %></td>
  </tr>
  <tr>
    <td><b>Billing Classification:</b></td>
    <td><%= @client.classification.display_name unless @client.classification == nil %></td>
  </tr>
</table>

<%= link_to 'Attendance', attendance_client_path(@client) %> |
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
