<h1>Listing classifications</h1>

<table class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Display name</th>
    <th>Name</th>
    <th>Rate</th>
    <th>Action</th>
  </tr>

<% @classifications.each do |classification| %>
  <tr>
    <td><%= classification.display_name %></td>
    <td><%= classification.name %></td>
    <td><%= number_to_currency classification.rate %></td>
    <td><%= link_to 'Show', classification %> |
        <%= link_to 'Edit', edit_classification_path(classification) %> |
        <%= link_to 'Destroy', classification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classification', new_classification_path %> |
<%= link_to 'Back', '/' %>
